<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}UCZ SIE!{% endblock %}</title>
        {% stylesheets filter='cssrewrite'
            '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css'
            'bundles/usk/css/usk.css'
        %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% javascripts
            '%kernel.root_dir%/../vendor/components/jquery/jquery.min.js'
            '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js'
            'bundles/usk/js/usk.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
