{% extends 'USKBundle::base.html.twig' %}

{% block body %}
    <div class="question end">
        <div class="jumbotron text-center word1">
            <h1>Koniec Słówek!</h1>
            <h2>{{ points }} / {{ questionCount }} - {{ percent }}%</h2>
        </div>
    </div>
{% endblock %}
