{% extends 'USKBundle::base.html.twig' %}

{% block body %}
    <div class="question" data-lang="{{ target }}">
        <div class="jumbotron text-center word1">
            <span class="pull-right points">{{ points }} / {{ questionCount }}</span>
            <h1 data-word="{{ items.word.word }}">{{ items.word.word }}</h1>
        </div>

        <div class="row" id="words">
            {% for translation in items.translations %}
                <a href="#" data-word="{{ translation.word }}" id="{{ translation.id }}" class="btn btn-default btn-lg col-md-3 col-sm-6 col-xs-12 word">{{ translation.word }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
