{% extends 'USKBundle::base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="category">{{ 'Kategorie'|trans }}</h1>
    </div>

    <div class="col-md-12 well well-lg text-center categories">
        <form class="form-inline">
            <div class="form-group">
                <label for="category">{{ 'Kategoria'|trans }}</label>
                <input type="text" class="form-control" id="category" placeholder="{{ 'Nowa'|trans }}" />
            </div>
            <button id="addCategory" class="btn btn-default">{{ 'Dodaj'|trans }}</button>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>{{ 'Nazwa'|trans }}</th>
                <th>{{ 'Data utworzenia'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.cdate|date('d/m/Y') }}</td>
                    <td><a href="{{ path('words', {'lang1': '1', 'lang2': '2', 'category': category.id}) }}" class="btn btn-default">{{ 'słówka'|trans }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
