{% extends 'USKBundle::base.html.twig' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1 class="category" data-category="{{ category.id }}">{{ category.name }}</h1>
    </div>

    <table class="table table-striped words">
        <thead>
            <tr>
                <th></th>
                <th>{{ langs[0].lang }}</th>
                <th>{{ langs[1].lang }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form>
                    <td></td>
                    <td><input type="text" required data-lang1="{{ langs[0].id }}" id="{{ langs[0].abbr }}" class="word word{{ langs[0].id }}" placeholder="{{ langs[0].abbr }}"/></td>
                    <td><input type="text" required data-lang2="{{ langs[1].id }}" id="{{ langs[1].abbr }}" class="word word{{ langs[1].id }}" placeholder="{{ langs[1].abbr }}"/></td>
                    <td><button id="addWord">{{ 'Dodaj'|trans }}</button></td>
                </form>
            </tr>
            {% for word in words %}
                <tr>
                    <td>{{ word.wordId }}</td>
                    <td>{{ word[langs[0].abbr] }}</td>
                    <td>{{ word[langs[1].abbr] }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
